
:root {
  --clr-primary: #7380ec;
  --clr-danger: #ff7782;
  --clr-success: #41f1b6;
  --clr-white: #fff;
  --clr-info-dark: #7d8da1;
  --clr-info-light: #dce1eb;
  --clr-dark: #363949;
  --clr-warning: #ff4edc;
  --clr-light: rgba(132, 139, 200, 0.18);
  --clr-primary-variant: #111e88;
  --clr-dark-variant: #677483;
  --clr-color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--clr-light);
}

body {
    background-color: var(--clr-dark);
    color: white;
        font-family: "Poppins", sans-serif;

}

.navbar {
    display: flex;
}
.header {
    background-color: rgb(209, 194, 194);
    width: 100vw;
}

#titlepage {
    color: grey;
    margin-left: 170px;
}

.tieudemuc {
        width: 250px;
        margin-left: 20px;
}

#menu ul li .active {
    background-color: white;
    color: navy;
    margin-left: 0;
    border-left: 5px solid blue;
}

#menu ul li .active::before {
    content:'';
    width: 6px;
    height: 100%;
    background-color: blue;
}
#menu {
    width: 280px;
    margin-left: 20px;
}
.hamburger{
    font-size: 30px;
    margin-left: 2rem;
}
.hamburger:hover {
    cursor: pointer
}
#menu ul li a {
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    font-size: 18px;
    padding: 8px;
    gap: 1rem;
    margin-left: 2rem;
    font-weight: 500;
    transition: all 0.1s ease-in;
}

#menu ul li a span {
    font-size: 1.6rem;
        transition: all .1s ease-in;
}
#logout {
    position: absolute;
    bottom: 1rem;
}
#menu ul {
    list-style: none;
    padding-left: 0;
}

.menu-hidden {
    display: none;
}
#menu ul li a:hover{
    color: var(--clr-primary);
    transition: .4s ease;
}

#menu ul li a:hover span{
    margin-left: 1rem;
}

#logo {
    left: 10px;
    display: flex;
    height: 60px;
    margin:  10px 0 0 20px;
}

.navbar .mode {
margin-left: 200px;
margin-bottom: 20px

}